#top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    height: 49px;
    background: #54b2ce;
}

#logo img{
        width: 275px;
    margin-top: 7px;
    margin-left: 15px;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/precon.gif) center no-repeat #fff;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: -2px;
}
.bodyHeadText{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
ol#align-setting {
    margin-bottom: 35px;
}
.bodyDetails{
    font-size: 13px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    line-height: 21px;
}
.waysHeading{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 13px;
    color: black;
}
.indexed{
    margin-left: 27rem;
    font-size: 13px;
        line-height: 20px;
}
.faucetcontainer{
    margin-top : 8%;
}
.footer{
        font-size: 16px;
    font-weight: 500;
    color: black;
    margin-top: 35px;
}
.footerHeading{
    
        text-align: center;
    color: #22293a;
}
.links{
    margin-top: 5rem;
}

#toWallet{
        margin: auto;
    display: block;
    margin-top: 20px;
    background: #22283a;
    color: white;
    width: 150px;

}
ul.link-style {
    list-style-type: none;
}
ul.link-style li {
    float: left;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 12px;
}
.footerdiv {
    text-align: center;
    width: 92%;
    /* background: black; */
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 0px;
    height: 50px;
}
#togglecontlabel{
    font-size: 15px;
    font-weight: 400;
    margin-top:15px;
    
}
.hrwallet {
    color: #929598;
    /* border-style: inset; */
    margin-top: 8rem;
    /* border: 1px solid #7e90a3; */
    width: 90%;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 30px;
}
body {
    min-height: 100%;
    background: #ffffff;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body, textarea, input, select, option, button {
    color: #7f91a3;
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 1.38461538462;
}

#nav {
    position: absolute;
    top: 0;
    right: 57px;
    bottom: 0;
}

#send{
           background: #22283a;
    color: white;
    height: 35px;
    border-radius: 4px;
}
#html_element{
       width: 304px;
    margin: 0 auto;
        margin-top: 35px;
}

#buttons{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}
#buttons ul{
    list-style:none;
    position:relative;
    left:50%;
}

#buttons li{float:left;position:relative;}/* ie needs position:relative here*/

#buttons a{
    text-decoration:none;
    margin:10px;
   
    float:left;
   font-size: 15px;

    padding:2px 5px;
    text-align:center;
    white-space:nowrap;
}
a {
    color: #8495a7;
    text-decoration: none;
}

.faucetcontainer{
    margin-top: 8%;
}

@media only screen and ( max-width: 940px){
    .indexed {
     margin-left: 0rem; 
    font-size: 13px;
    line-height: 20px;
}
  .faucetcontainer{
    margin-top: 9%;
}
#logo img {
    width: 275px;
    margin-top: 17px;
    /* margin-left: 15px; */
    margin: auto;
    margin-top: 7px;
}

}

@media only screen and ( max-width: 640px){
    .footerdiv {
    text-align: center;
    width: 100%;
    /* background: black; */
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 75px;
    }
.indexed {
     margin-left: 0rem; 
    font-size: 13px;
    line-height: 20px;
}
.faucetcontainer{
     margin-top: 25%;
}
.hrwallet {

    margin-top: 50px;

}







}
