#top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    height: 49px;
    background: #54b2ce;
}

#logo img{
        width: 275px;
    margin-top: 12px;
    margin-left: 20px;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/precon.gif) center no-repeat #fff;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: -2px;
}
.bodyHeadText{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
ol#align-setting {
    margin-bottom: 35px;
}
.bodyDetails{
    font-size: 13px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    line-height: 21px;
}
.waysHeading{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 13px;
    color: black;
}
.indexed{
    margin-left: 27rem;
    font-size: 13px;
        line-height: 20px;
}
.faucetcontainer{
    margin-top : 8%;
}
.footer{
        font-size: 16px;
    font-weight: 500;
    color: black;
    margin-top: 35px;
}
.footerHeading{
    
        text-align: center;
    color: #22293a;
}
.links{
    margin-top: 5rem;
}

#toWallet{
        margin: auto;
    display: block;
    margin-top: 20px;
    background: #22283a;
    color: white;
    width: 150px;

}
ul.link-style {
    list-style-type: none;
}
ul.link-style li {
    float: left;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 12px;
}
.footerdiv {
    text-align: center;
    width: 92%;
    /* background: black; */
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 0px;
    height: 50px;
}
#togglecontlabel{
    font-size: 15px;
    font-weight: 400;
    margin-top:15px;
    
}
.hrwallet {
    color: #929598;
    /* border-style: inset; */
    margin-top: 8rem;
    /* border: 1px solid #7e90a3; */
    width: 90%;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 30px;
}
body {
    min-height: 100%;
    background: #ffffff;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body, textarea, input, select, option, button {
    color: #7f91a3;
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 1.38461538462;
}

#nav {
    position: absolute;
    top: 0;
    right: 57px;
    bottom: 0;
}

#send{
           background: #22283a;
    color: white;
    height: 35px;
    border-radius: 4px;
}
#html_element{
       width: 304px;
    margin: 0 auto;
        margin-top: 35px;
}

#buttons{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}
#buttons ul{
    list-style:none;
    position:relative;
    left:50%;
}

#buttons li{float:left;position:relative;}/* ie needs position:relative here*/

#buttons a{
    text-decoration:none;
    margin:10px;
   
    float:left;
   font-size: 15px;

    padding:2px 5px;
    text-align:center;
    white-space:nowrap;
}
a {
    color: #8495a7;
    text-decoration: none;
}

.faucetcontainer{
    margin-top: 8%;
}

@media only screen and ( max-width: 940px){
    .indexed {
     margin-left: 0rem; 
    font-size: 13px;
    line-height: 20px;
}
  .faucetcontainer{
    margin-top: 9%;
}
#logo img {
    width: 275px;
    margin-top: 17px;
    /* margin-left: 15px; */
    margin: auto;
    margin-top: 7px;
}

}

@media only screen and ( max-width: 640px){
    .footerdiv {
    text-align: center;
    width: 100%;
    /* background: black; */
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 75px;
    }
.indexed {
     margin-left: 0rem; 
    font-size: 13px;
    line-height: 20px;
}
.faucetcontainer{
     margin-top: 25%;
}
.hrwallet {

    margin-top: 50px;

}







}




ul:after, #content:after, #top:after, #footer:after, form p:after, .cols-a:after, #nav:after, #nav > ul:after, #nav > ul > li > a:after, #heading:after, #heading > ul:after, .tabs-a > ul:after, #footer ul:after, .tabs-a > div:after, .double:after, .list-inline:after, .quadruple:after, .popup-a .box-inset:after, .module-box:after, .gallery-a:after, .link-btn:after, .list-a ul:after, .list-inline li:after, .list-inline form:after, .list-inline p:after, .list-charts figure:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
}
*, *:before, *:after {
    -webkit-transition: visibility .2s ease-in-out 0s, color .2s ease-in-out 0s, background-color .2s ease-in-out 0s, color .2s ease-in-out 0s, border-color .2s ease-in-out 0s, color .2s ease-in-out 0s, opacity .2s ease-in-out 0s;
    transition: visibility .2s ease-in-out 0s, color .2s ease-in-out 0s, background-color .2s ease-in-out 0s, color .2s ease-in-out 0s, border-color .2s ease-in-out 0s, color .2s ease-in-out 0s, opacity .2s ease-in-out 0s;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transition-delay: -0.1s;
}
.hidden, [hidden], template, #nav em, .js #heading ul li label input,  ul li:last-child:before, #nav > ul > li > ul li.a a:before, #mobile em, #mobile i, .checklist-pin label input, .file-a label input, .check-a label input, #aside a span, .list-inline form.toggle a.toggle, .list-inline label {
        position: absolute !important;
    left: -3001em !important;
    top: 0;
    right: auto;
    bottom: auto;
}



*, *:before, *:after {
    -webkit-transition: visibility .2s ease-in-out 0s, color .2s ease-in-out 0s, background-color .2s ease-in-out 0s, color .2s ease-in-out 0s, border-color .2s ease-in-out 0s, color .2s ease-in-out 0s, opacity .2s ease-in-out 0s;
    transition: visibility .2s ease-in-out 0s, color .2s ease-in-out 0s, background-color .2s ease-in-out 0s, color .2s ease-in-out 0s, border-color .2s ease-in-out 0s, color .2s ease-in-out 0s, opacity .2s ease-in-out 0s;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transition-delay: -0.1s;
}

 ul { overflow: hidden; list-style: none; margin-right: 0px; padding: 0; width: 94%;
    margin: auto; }
  ul li { position: relative; float: left; margin: 0 16px 0 0; }
 ul.link-style li:before { content: "|"; display: block; position: absolute; left: 100%; top: 0; width: 16px; text-align: center; }
#footer a { color: #7f91a3; }

html {
  min-height: 100%;
  position: relative;
}
  body {
    margin-bottom: $height-footer;
  }
  #footer {
    bottom: 20px;
    width: 100%;
    position: absolute;
    /*height: $height-footer;*/
    /*background-color: #f5f5f5;*/
    
  }

